In [6]:
import numpy as np

In [7]:
import matplotlib.pyplot as plt

In [8]:
import pandas as pd

In [9]:
pwd

'/home/saiful/Desktop/Machine_learning'

In [10]:
ls

'ALLIN ONE'/
'[Aurélien_Géron]_Hands-On_Machine_Learning_with_(b-ok.org).azw3'
 Data.csv
 Data_preprocessing.ipynb
 Data_Preprocessing.zip
 df1
 df2
 df3
 Machine_Learning_AZ_Template_Folder/
 Machine_Learning_AZ_Template_Folder.zip
 matplotlib.ipynb
 numpy.ipynb
 output.png
 overallPractice.ipynb
 pandas1.ipynb
 pandas2.ipynb
 pandas_visualization.ipynb
 Python-Data-Science-and-Machine-Learning-Bootcamp/
 Salaries.csv
 seaborn.ipynb
 titanic.csv
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled3.ipynb
 Untitled8.ipynb
 Untitled.ipynb
 wget-log

In [11]:
cd Machine_Learning_AZ_Template_Folder/

/home/saiful/Desktop/Machine_learning/Machine_Learning_AZ_Template_Folder

In [12]:
ls

'Part 0 - Welcome to Machine Learning A-Z'/
'Part 10 - Model Selection & Boosting'/
'Part 1 - Data Preprocessing'/
'Part 2 - Regression'/
'Part 3 - Classification'/
'Part 4 - Clustering'/
'Part 5 - Association Rule Learning'/
'Part 6 - Reinforcement Learning'/
'Part 7 - Natural Language Processing'/
'Part 8 - Deep Learning'/
'Part 9 - Dimensionality Reduction'/

In [13]:
ls

'Part 0 - Welcome to Machine Learning A-Z'/
'Part 10 - Model Selection & Boosting'/
'Part 1 - Data Preprocessing'/
'Part 2 - Regression'/
'Part 3 - Classification'/
'Part 4 - Clustering'/
'Part 5 - Association Rule Learning'/
'Part 6 - Reinforcement Learning'/
'Part 7 - Natural Language Processing'/
'Part 8 - Deep Learning'/
'Part 9 - Dimensionality Reduction'/

In [14]:
cd 'Part 1 - Data Preprocessing'/

/home/saiful/Desktop/Machine_learning/Machine_Learning_AZ_Template_Folder/Part 1 - Data Preprocessing

In [15]:
ls

 categorical_data.py
 categorical_data.R
 Data.csv
 data_preprocessing_template.py
 data_preprocessing_template.R
 missing_data.py
 missing_data.R
'Section 2 -------------------- Part 1 - Data Preprocessing --------------------'/

In [16]:
dataset=pd.read_csv('Data.csv')

In [17]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [18]:
x=dataset.iloc[:,:-1].values

In [18]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [32]:
y=dataset.iloc[:,3].values

In [31]:
y

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01,     nan],
       [3.5e+01, 5.8e+04],
       [    nan, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [21]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [22]:
from sklearn.preprocessing import Imputer

In [3]:
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)

/home/saiful/.local/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [23]:
imputer=imputer.fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])

In [24]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [34]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [42]:
#labelencoder_x= LabelEncoder()
#x[:,0]=labelencoder_x.fit_transform(x[:,0])


onehotencoder=OneHotEncoder(categorical_features=[0])
x=onehotencoder.fit_transform(x).toarray()

/home/saiful/.local/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/saiful/.local/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [43]:
x

array([[0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        4.40000000e+01, 7.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        2.70000000e+01, 4.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        3.00000000e+01, 5.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        3.80000000e+01, 6.10000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        4.00000000e+01, 6.37777778e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        3.50000000e+01, 5.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        3.87777778e+01, 5.20000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        4.80000000e+01, 7.90000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        5.00000000e+01, 8.30000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        3.70000000e+01, 6.70000000e+04]])

In [44]:
df= pd.DataFrame(x[:,:-1])
df = df.astype(int)
df

   0  1  2  3   4
0  0  1  0  0  44
1  1  0  0  1  27
2  1  0  1  0  30
3  1  0  0  1  38
4  1  0  1  0  40
5  0  1  0  0  35
6  1  0  0  1  38
7  0  1  0  0  48
8  1  0  1  0  50
9  0  1  0  0  37

In [45]:
labelencoder_y= LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [46]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [61]:

#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

In [63]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [65]:
x_test

array([[1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 5.0e+01, 8.3e+04]])

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
sc_x=StandardScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.transform(x_test)

NameError: name 'x_train' is not defined

In [67]:
x_test

array([[ 1.        , -1.        ,  2.64575131, -0.77459667, -1.45882927,
        -0.90166297],
       [ 1.        , -1.        ,  2.64575131, -0.77459667,  1.98496442,
         2.13981082]])

In [68]:
pwd

'/home/saiful/Desktop/Machine_learning/Machine_Learning_AZ_Template_Folder/Part 1 - Data Preprocessing'